<app-navbar/>

<div class="flex flex-col items-center">
    <div class="max-w-3xl m-4">
        <h1 class="text-start m-2 text-green-500 font-bold md:text-7xl text-5xl">Bob :)</h1>
        <p class="text-gray-500 m-2 text-justify">Bob est un générateur UML basé sur l’IA, pour créer automatiquement des diagrammes de classes, d’activités et de cas d’utilisation à partir de descriptions textuelles précises, facilitant la modélisation des systèmes pour les développeurs.</p>
    </div>
    <p class="text-start text-green-500 max-w-3xl text-xl mx-2 my-4">Commençons par décrire votre projet :</p>
</div>

<router-outlet />

<app-footer/>